body {
  width: 100%;
  color: #7f7f7f;
  font-family: Arial,Helvetica,sans-serif;
  background: url(../images/bg.png) repeat fixed left top #5ec2b1;
  font-size: 12px;
  line-height: 18px;
  min-width: 1024px;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a {
  color: #757475;
  text-decoration: underline;
  cursor: pointer;
}
form {
  display: inline;
  margin: 0;
  padding: 0;
}
input[type=text],
input[type=password],
textarea {
  background: #fff;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  height: 14px;
  margin: 0;
  padding: 4px 3px;
}
select {
  font-size: 11px;
  margin: 0;
  padding: 3px 3px 4px;
}
label {
  cursor: pointer;
  color: #191919;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
input[type=text],
input[type=password],
textarea,
select,
.return-list,
.account-transaction table.list {
  border: 1px solid #eaeaea;
}
table.list,
.checkout-product td,
table.list td,
.wishlist-product td,
.product-info .review,
.compare-info td,
.cart-info thead td,
.cart-info tbody td,
.cart-total-name,
.attribute td {
  border: 1px solid #eaeaea!important;
}
#back-top {
  position: fixed;
  bottom: 60px;
  z-index: 9999;
  left: 50%;
  margin-left: 600px;
}
#back-top a:hover {
  color: #79ec3e;
}
#back-top span {
  width: 32px;
  height: 32px;
  display: block;
  margin-bottom: 7px;
  background: url(../images/up-arrow.png) no-repeat left 0;
}
#back-top a:hover span {
  background-position: left bottom;
}
h1 {
  color: #dc809c;
  font-size: 24px;
  line-height: 30px;
  font-family: Questrial,sans-serif;
  font-weight: 400;
  margin: 15px 0;
}
h2 {
  font-family: Questrial,sans-serif;
  color: #dc809c;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 25px;
}
.bg-1 {
  overflow: hidden;
  width: 100%;
}
.main-shining {
  border-radius: 14px 14px 0 0;
  background-color: #fff;
  width: 1107px;
  border-bottom: 7px solid #dd9fb6;
  margin: 39px auto 70px;
}
.header-modules {
  position: relative;
  z-index: 1;
  width: 1024px;
  margin: 0 auto;
}
#container {
  width: 1024px;
  text-align: left;
  margin: 0 auto;
}
#column-left {
  float: left;
  width: 241px;
}
#column-right {
  float: right;
  width: 241px;
}
#content {
  float: right;
  width: 750px;
}
.outer {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
#header {
  position: relative;
  color: #9d9d9d;
}
#header #logo {
  float: left;
  margin: 28px 0 19px 42px;
}
#language {
  color: #999;
  line-height: 17px;
}
.banner {
  margin-bottom: 19px;
  overflow: hidden;
}
.banner>div {
  margin-left: 15px;
  float: left;
}
.banner>div img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#currency {
  color: #fff;
  font-size: 13px;
  font-family: Arial,Helvetica,sans-serif;
  float: right;
}
#currency a+a {
  margin-left: 1px;
}
#currency a {
  text-decoration: none;
  float: left;
}
#currency a span {
  width: 28px;
  height: 28px;
  border: 1px solid transparent;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 13px;
  border-radius: 50%;
}
#currency a:hover span,
#currency a .act {
  text-decoration: none;
  cursor: default;
  color: #fff;
  border: 1px solid #edcdd9;
}
#currency a span.act {
  cursor: default;
}
.cart-position {
  float: right;
  margin-top: 19px;
}
#cart {
  float: right;
  position: relative;
}
#header #cart .heading span.cart-icon {
  position: absolute;
  left: 16px;
  top: 6px;
  background: url(../images/cart-icon.png) no-repeat;
  width: 46px;
  height: 44px;
  margin: 0;
  padding: 0;
}
.latest-added {
  border-bottom: 1px solid #eaeaea;
  display: block;
  padding: 0 0 10px 10px;
}
.heading a {
  text-decoration: none;
  display: block;
  color: #191919;
  background: url(../images/cart.png) no-repeat left top;
  padding: 16px 0 16px 62px;
}
#header #cart .content {
  clear: both;
  display: none;
  position: absolute;
  top: 47px;
  background: #fff;
  z-index: 99999;
  width: 235px;
  float: right;
  box-shadow: 1px 1px 5px #b0b0af;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  right: 0;
  padding: 8px 0;
}
#header #cart .cart {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
}
#header #cart .cart td.price {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
#header #cart .cart td.total {
  font-size: 12px;
  font-weight: 600;
  color: #c81908;
  text-align: right;
}
#header #cart .cart td.name a {
  text-decoration: none;
  font-size: 11px;
  line-height: 17px;
  margin-top: 0;
  display: inline-block;
}
#header #cart .cart td .total {
  font-size: 11px;
  font-weight: 700;
  color: 1000;
}
#header #cart .cart td.name {
  padding-left: 10px;
}
#header #cart .cart .item-cart-1 td {
  padding-top: 0;
}
#header #cart .cart td {
  color: 1000;
  vertical-align: top;
  padding: 8px 0 10px 5px;
}
#header #cart .cart .image {
  width: 1px;
  padding-left: 8px;
}
.cart tr {
  background: url(../images/tail-tr.gif) left bottom repeat-x #fff;
  padding-bottom: 20px;
}
#header #cart .cart .name small {
  color: #666;
}
#header #cart .cart .quantity {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #a6a4a4;
  text-transform: uppercase;
}
.cart-module .cart .remove {
  width: 20px;
  text-align: center!important;
  padding-top: 8px;
}
#header #cart .cart .remove {
  text-align: right;
  padding-right: 8px;
}
#header #cart table.total {
  border-collapse: collapse;
  font-size: 11px;
  margin-top: 5px;
  float: right;
  clear: left;
  margin-bottom: 5px;
  padding: 5px 10px;
}
#header #cart table.total tr {
  padding: 0 10px;
}
#header #cart table.total td b {
  color: #a6a4a4;
  font-size: 11px;
  font-weight: 700;
}
#header #cart table.total td {
  color: #3a3738;
  padding-left: 5px;
  padding-right: 10px;
  text-align: left;
}
#header #cart table.total td .t-price {
  font-size: 11px;
  font-weight: 700;
}
#header #cart .content .checkout {
  text-align: right;
  clear: both;
  padding-right: 8px;
  padding-bottom: 0;
  padding-top: 5px;
}
#header #cart .empty {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}
#header #welcome {
  color: #4a4a4a;
  float: right;
  margin: 31px 52px 0 0;
}
#header #welcome a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 700;
  margin: 0 2px;
}
#header #welcome a:hover {
  color: #dc809c;
}
.toprow {
  background: url(../images/toprow.png) repeat-x left top #dd9eb6;
  line-height: 30px;
  border-radius: 12px 12px 0 0;
  padding: 5px 13px 5px 16px;
}
.toprow .tel {
  background: url(../images/tel.png) no-repeat left;
  color: #fff;
  font-size: 11px;
  padding-left: 21px;
}
#header .links {
  font-size: 11px;
  float: right;
  margin-right: 75px;
}
#header .links li:first-child {
  margin: 0;
}
#header .links li {
  float: left;
  line-height: 20px;
  margin-left: 25px;
}
#header .links a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 11px;
  line-height: 30px;
}
#search {
  position: relative;
  float: right;
  margin: 22px 22px 0 0;
}
#search .button-search {
  float: right;
  background: url(../images/button-search.png) no-repeat left top;
  width: 22px;
  height: 18px;
  position: absolute;
  top: 8px;
  right: 15px;
  border: none;
}

#search-block-form .button-search {
  background: url(../images/button-search.png) no-repeat left top;
  width: 22px;
  height: 18px;
  border: none;
}

#search .button-search:hover,
#search-block-form .button-search:hover {
  cursor: pointer;
  background-position: 0 bottom;
}

#search .search-form {
  float: left;
  border: 1px solid #dbdbdb;
  background: #fff;
  width: 230px;
  height: 24px;
  line-height: 24px;
  outline: none;
  border-radius: 12px;
  padding: 5px 40px 5px 15px;
}
.box.cat-colum {
  margin-bottom: 7px;
}
.product-filter .product-compare {
  padding: 3px 0 0 10px;
}
.name a {
  font-size: 14px;
  color: #727272;
  text-decoration: none;
  line-height: 18px;
}
.price {
  font-size: 18px;
  color: #1f1f1f;
  font-weight: 400;
}
.price .price-old {
  text-decoration: line-through;
  color: #a7a7a7;
  font-weight: 400;
  font-size: 13px;
}
.box-product .price-old {
  margin-left: 5px;
}
.price-old {
  text-transform: uppercase;
  font-weight: 400;
  color: #b7b7b7;
}
.icon-tools {
  text-align: center;
  float: right;
}
.icon-tools div.wishlist>a {
  background: url(../images/wish-list.png) no-repeat left top;
  width: 31px;
  height: 31px;
  margin: 0;
}
.icon-tools div.compare>a {
  background: url(../images/compare.png) no-repeat left top;
  width: 31px;
  height: 31px;
  margin: 0 0 0 8px;
}
.icon-tools .tooltip {
  left: 0;
  bottom: -31px;
}
.icon-tools .tooltip2 {
  left: -46px;
  bottom: -31px;
}
.new-products ul li.first-in-line {
  clear: both;
}
#content .box .box-content .box-product ul li {
  float: left;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  padding: 6px 0 0;
}
#content .box .box-content .box-product ul li .inner-indent {
  width: 220px;
  border-left: 1px solid #f0f0f0;
  margin-bottom: 27px;
  margin-top: 28px;
  padding: 20px 20px 30px;
}
.box .box-content .box-product ul li {
  float: none;
  text-align: center;
  position: relative;
  padding: 20px 0;
}
#content .box .box-content .box-product ul li.last_line {
  border-bottom: 0;
  padding: 0;
}
.box .box-content .box-product .description {
  font: 13px/18px Arial;
  color: #afafaf;
}
#column-left .info li,
#column-right .info li {
  position: relative;
  padding: 0;
}
#column-left .info li a,
#column-right .info li a,
.afine li a,
.acount li a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
#column-left .info li,
#column-right .info li,
.afine li,
.acount li {
  border-top: 1px solid #eaeaea;
  background: url(../images/marker-3.png) no-repeat left 12px;
  padding: 5px 0 5px 15px;
}
#column-left .info li a+a,
#column-right .info li a+a,
.afine li a+a,
.acount li a+a {
  padding-left: 0;
  background: none;
}
.box-filter .box-content {
  padding: 20px;
}
.breadcrumb a {
  color: #545759;
  text-decoration: none;
}
.breadcrumb {
  color: #383737;
  font-size: 12px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 0;
}
.success,
.warning,
.attention,
.information {
  margin-bottom: 15px;
  color: #555;
  padding: 10px 10px 10px 33px;
}
.success {
  color: 1000;
  width: 170px;
  position: fixed;
  z-index: 99999!important;
  left: 50%;
  box-shadow: .2em .2em .2em 3px rgba(122,122,122,0.5);
  -webkit-box-shadow: .2em .2em .2em 3px rgba(122,122,122,0.5);
  top: 50%;
  margin-left: -85px;
  margin-top: -70px;
  line-height: 18px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
  background: #fff;
  display: none;
  font-size: 14px;
  padding: 10px 28px 15px 18px;
}
.warning {
  background: #ffd1d1 url(../images/warning.png) 10px center no-repeat;
  border: 1px solid #f8acac;
  padding-left: 30px!important;
}
.attention {
  background: #fff5cc url(../images/attention.png) 10px center no-repeat;
  border: 1px solid #f2dd8c;
}
.success .close,
.warning .close,
.attention .close,
.information .close {
  float: right;
  cursor: pointer;
}
.required {
  color: #ff7409;
  font-weight: 700;
}
.error {
  display: block;
  color: red;
}
.help {
  color: #999;
  font-size: 10px;
  font-weight: 400;
  font-family: Verdana,Geneva,sans-serif;
  display: block;
}
table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.form td {
  padding: 4px;
}
input.large-field {
  width: 97%;
}
.return-comment textarea {
  width: 307px;
}
table.list {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.checkout-product thead td .checkout-product thead td {
  text-align: center!important;
}
.checkout-product td.total {
  text-align: center!important;
  color: #dc809c;
  font-weight: 700;
  font-size: 12px;
}
.return-remove .button {
  color: #fff;
  padding: 1px 5px 2px;
}
table.list thead td {
  background: url(../images/tail-manuf.gif) 0 0 repeat-x #f8f8f8;
  padding: 0 5px;
}
table.list thead td a,
.list thead td {
  text-decoration: none;
  color: #222;
  font-weight: 700;
}
table.list tbody td {
  vertical-align: top;
  padding: 0 5px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
.pagination {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}
.account-order .button-order-right {
  float: right;
  margin-top: -3px;
}
.pagination .links a {
  display: inline-block;
  text-decoration: none;
  color: 1000;
  border: 1px solid #ccc;
  padding: 4px 10px;
}
.pagination .links a:hover {
  background: #f7f7f7;
  border: 1px solid #ccc;
}
.pagination .links b {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  color: 1000;
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 4px 10px;
}
.pagination .results {
  float: left;
  color: #606a6d;
  margin: 5px 0;
}
a.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: #f2f2f2;
  font-size: 11px;
  line-height: 17px;
  border-radius: 2px;
}
a.button span {
  color: #333;
  display: inline-block;
  white-space: nowrap;
  font-size: 11px;
  line-height: 17px;
  text-transform: lowercase;
  font-weight: 400;
  padding: 4px 16px;
}
a.button:hover {
  background: #dc809c;
}
.buttons {
  overflow: auto;
  margin: 20px 0;
}
.buttons .left {
  float: left;
  text-align: left;
}
.buttons .right {
  float: right;
  text-align: right;
}
.buttons .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#module_cart .content {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 2px 2px #ddd;
  clear: both;
  display: none;
  min-height: 150px;
  position: relative;
  top: -1px;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
}
#module_cart.active .heading {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
  padding-bottom: 6px;
  padding-top: 10px;
}
#module_cart .cart .name {
  padding-bottom: 10px;
  padding-top: 10px;
}
#module_cart .cart {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}
#module_cart .cart td .quantity {
  font-weight: 700;
  color: #a6a4a4;
}
#module_cart .cart td {
  border-bottom: 1px solid #eaeaea;
  color: #4d4949;
  font-size: 11px;
  vertical-align: top;
  font-weight: 700;
  padding: 2px 3px;
}
#module_cart .cart .image img {
  border: 1px solid #eaeaea;
  text-align: left;
}
#module_cart .cart .name small {
  color: #666;
  line-height: 14px;
}
#module_cart .cart td.quantity {
  color: #a6a4a4;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding-top: 0;
  vertical-align: middle;
}
#module_cart .cart td.total {
  text-align: center;
  vertical-align: middle;
  color: #4d4949;
  font-size: 11px;
  font-weight: 700;
}
#module_cart .cart .remove {
  text-align: right;
  vertical-align: middle;
  padding: 2px;
}
#module_cart table.total {
  border-collapse: collapse;
  clear: left;
  float: right;
  margin-bottom: 10px;
  padding: 5px;
}
.total-right {
  text-align: right!important;
}
#module_cart .total-left {
  padding-right: 18px;
}
#module_cart table.total td b {
  font-size: 11px;
  font-weight: 700;
  color: #a6a4a4;
}
#module_cart table.total td {
  color: 1000;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  font-weight: 700;
  text-align: left;
}
#module_cart .checkout {
  clear: both;
  text-align: right;
}
#module_cart .empty {
  text-align: left;
  color: #393838;
  font-size: 13px;
  line-height: 17px;
  padding: 5px 0;
}
.htabs {
  height: 30px;
  line-height: 16px;
  border-bottom: 1px solid #eaeaea;
}
.htabs a {
  background: #fff url(../images/tab.png) repeat-x;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #737373;
  margin-right: -1px;
  display: none;
  border: 1px solid #eaeaea;
  border-bottom: 0;
  padding: 6px 10px;
}
#idTab1 p {
  color: #191919!important;
  font-weight: 400!important;
  line-height: 20px;
  margin-bottom: 5px;
}
.htabs a.selected {
  padding-bottom: 7px;
  background: #fff;
  color: #191919;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}
.tab-content {
  margin-top: -1px;
  z-index: 2;
  float: left;
  border: 1px solid #eaeaea;
  background: #fff;
  width: 725px;
  padding: 16px 18px 10px;
}
.box .box-heading>span>span {
  color: #8a8a8a;
}
.box .box-heading {
  font-family: Questrial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #525252;
  text-transform: uppercase;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 15px 0;
}
.box-shining {
  background: url(../images/box-shining.jpg) no-repeat;
  padding: 20px 0 42px 30px;
}
.padd-both {
  text-align: left;
  padding: 0 20px;
}
.box .box-nav2 .box-heading {
  background: url(../images/cat-heading.jpg) repeat-x #576a54;
  border-bottom: 1px solid #eaeaea;
  color: #fff;
}
.tooltip {
  display: none;
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-left: 5px;
  position: absolute;
  bottom: -20px;
  text-decoration: none;
  left: -45px;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: 10;
  padding: 4px 10px;
}
.tooltip2 {
  display: none;
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-left: 0;
  position: absolute;
  bottom: -20px;
  text-decoration: none;
  color: #414141;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: 10;
  left: -5px;
  padding: 4px 10px;
}
.product-list .tooltip2 {
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #414141;
  margin-left: 35px;
  position: absolute;
  bottom: -57px;
  text-decoration: none;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: 10;
  padding: 4px 10px;
}
.product-list .tooltip {
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-left: 5px;
  color: #414141;
  position: absolute;
  bottom: -60px;
  text-decoration: none;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: 10;
  padding: 4px 10px;
}
.cart .tooltip2 {
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #414141;
  margin-left: 0;
  position: absolute;
  bottom: -32px;
  text-decoration: none;
  font-size: 12px!important;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: 10;
  padding: 4px 10px!important;
}
.cart .tooltip {
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-left: 5px;
  color: #414141;
  position: absolute;
  bottom: -32px;
  text-decoration: none;
  font-size: 12px!important;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: 10;
  padding: 4px 10px!important;
}
.prod-stock {
  background: url(../images/stock-w.png) left 0 no-repeat;
  float: left;
  font-size: 12px;
  height: 38px;
  line-height: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  text-align: center;
  width: 38px;
  color: #fff;
  font-weight: 400;
}
.box-product {
  width: 100%;
  margin: 0;
  padding: 0;
}
.box-product.box-subcat {
  margin-top: 0!important;
}
.addthis_button_google_plusone {
  width: 67px;
}
.addthis_button_tweet {
  width: 70px;
  margin-right: 10px;
  margin-left: 7px;
}
.box-product.box-subcat .name.subcatname {
  padding-top: 4px;
  text-align: left;
}
.box-product.box-subcat .name.subcatname a {
  font-weight: 700;
  margin-bottom: 0;
}
#content .box .box-content {
  background: none;
  padding: 0;
}
#content .box .box-content .box-product ul li.cat-height {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
  width: 254px;
  border: 0;
  padding: 0!important;
}
.box-product.box-subcat li {
  width: 214px;
  float: left;
  padding: 10px;
}
.box-product.box-subcat li .image {
  overflow: hidden;
  float: left;
  margin-bottom: 0;
  margin-top: 0;
}
.box-product.box-subcat li img:hover {
  border: 3px solid #dc809c;
}
.box-product.box-subcat li img {
  float: left;
  border: 3px solid #eaeaea;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0 10px 0 0;
}
#tab-related .image {
  float: none;
  width: 80px;
  height: 80px;
  padding: 5px;
}
.prod-stock-2 {
  float: left;
  padding-top: 13px;
  padding-right: 10px;
}
.zoom-top img {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.left .zoom-top:first-child {
  margin-top: 0;
  position: relative;
  z-index: 12;
}
.zoom-top:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
.zoom-top {
  width: 30px!important;
  height: 30px!important;
  background: url(../images/zoom.png) right 0 no-repeat;
  overflow: hidden;
  margin-bottom: -30px;
  margin-left: 271px;
}
.box-product>li {
  width: 176px;
  display: inline-block;
  vertical-align: top;
  margin-right: 42px;
  margin-bottom: 28px;
}
#module_cart .cart .name a {
  text-decoration: none;
  line-height: 17px;
}
#column-left+#column-right+#content .box-product>div {
  width: 119px;
}
.short-description span {
  display: block;
  font-size: 11px;
  color: #a5a4a4;
}
.box-product .image {
  display: block;
  text-align: center;
  margin: 20px 0 15px;
}
.box-product .image2 {
  display: block;
  text-align: center;
  margin-bottom: 34px;
}
.special-container1 .name {
  padding-bottom: 7px;
}
.box-product.spec-box .cart {
  float: right;
  padding-top: 6px;
}
.box-product .name {
  margin-bottom: 2px;
}
.box-product .price {
  margin: 9px 0 15px;
}
.box-product.spec-box .manufacturer {
  margin-left: -8px;
}
.box-product .rating {
  display: block;
  margin-top: 7px;
  margin-bottom: 0;
}
.box-content .information {
  padding: 0!important;
}
.information li a {
  text-decoration: none;
  color: #333;
}
.information li a:hover {
  color: #960f02;
}
.information .info-facebook a:hover,
.information .info-about1 a:hover {
  color: #fff;
  opacity: 0.8;
}
.information .info-facebook a {
  background: url(../images/facebook.gif) 0 0 no-repeat;
  font-weight: 700;
  color: #fff;
  display: block;
  padding: 7px 5px 9px 38px;
}
.information .info-about1 a {
  background: url(../images/about.gif) 0 0 no-repeat;
  font-weight: 700;
  color: #fff;
  display: block;
  padding: 7px 5px 9px 38px;
}
.afine li:first-child,
.acount li:first-child {
  border: 0;
}
.afine li a+a {
  background: none;
  padding-left: 0;
}
.acount {
  list-style: none;
}
.content ul li a {
  text-decoration: none;
  color: #35230f;
  line-height: normal;
}
.content ul li {
  background: url(../images/marker-manuf.png) left 5px no-repeat;
  padding-left: 22px;
  color: #3f3f3f;
  padding-bottom: 4px;
  padding-top: 4px;
}
.account-forgotten table.form tr td:first-child {
  width: 87px;
}
.account-edit table.form tr td:first-child {
  width: 73px;
  text-align: right;
}
.account-password table.form tr td:first-child {
  width: 118px;
  text-align: right;
}
.wishlist-product td {
  vertical-align: middle!important;
  padding: 7px 7px 6px 10px;
}
.q2 {
  width: 299px;
}
.box-category>ul>li>a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}
.box-category>ul>li:first-child {
  border: 0;
  border-top: 0;
}
.box-category>ul>li {
  position: relative;
  background: url(../images/marker-3.png) no-repeat left 11px;
  border-top: 1px solid #e2e2e2;
  line-height: 19px;
  padding: 5px 0 5px 15px;
}
.box-category>ul>li ul {
  display: none;
  margin: 10px 0;
  padding: 0;
}
.box-category>ul>li.active span.close {
  background: url(../images/nolines_minus.png) left bottom no-repeat;
}
.box-category>ul>li span.close {
  background: url(../images/nolines_minus.png) 0 0 no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 0;
  display: inline-block;
  margin-left: 15px;
  position: absolute;
  right: 0;
  top: 9px;
}
.box-category>ul>li li span.close {
  top: 7px;
}
.box-category>ul>li ul>li {
  line-height: 19px;
  padding: 3px 0;
}
.box-category>ul>li ul>li>a {
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 19px;
}
.act-cat {
  position: absolute;
  top: 9px;
  right: 6px;
}
#content .content .right {
  float: right;
  width: 49%;
}
.category-info .image {
  float: left;
  margin-right: 15px;
  display: none;
  padding: 5px;
}
.category-list ul li {
  background: url(../images/arrow.gif) 0 5px no-repeat;
  padding-left: 10px;
  margin-bottom: 4px;
}
.category-list ul li a:hover {
  color: #ffa304;
}
.category-list ul {
  float: left;
  width: 25%;
  list-style: none;
  padding: 0;
}
.capcha {
  width: 143px;
}
.sitemap-info ul li {
  background: url(../images/marker-3.png) no-repeat scroll left 9px transparent;
  color: #191919;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-top: 4px;
  text-transform: capitalize;
}
.sitemap-info ul li a {
  color: #35230f;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
.affiliate-login .login-content .right {
  height: 265px;
}
.affiliate-login .login-content .left {
  background-position: right bottom;
  height: 253px;
}
.category-list .div a {
  text-decoration: underline;
  font-weight: 700;
}
.manuf-p {
  font-weight: 700;
  color: #191919;
  margin-bottom: 16px;
}
.manuf-p a {
  text-decoration: none;
  font-weight: 700;
  color: #dc809c;
}
.manuf-p a b {
  text-decoration: none;
  font-weight: 700;
  color: #43403d;
}
.manuf-p a:hover b {
  font-weight: 700;
  color: #dc809c;
}
.manufacturer-list {
  overflow: auto;
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
}
.manufacturer-heading span {
  background: url(../images/tail-manuf-al.gif) 0 0 repeat-x #383838;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  padding: 3px 6px 3px 7px;
}
.manufacturer-heading {
  background: url(../images/tail-manuf.gif) 0 0 repeat-x #f8f8f8;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px;
  border-bottom: 1px solid #eaeaea;
  padding: 3px 8px 4px 4px;
}
.manufacturer-content {
  overflow: hidden;
  padding: 12px 8px 9px 20px;
}
.manufacturer-list ul li {
  background: url(../images/marker-manuf.png) no-repeat scroll left 5px transparent;
  color: #191919;
  padding-bottom: 4px;
  padding-left: 22px;
  padding-top: 4px;
}
.manufacturer-list ul li a {
  color: #35230f;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
}
.manufacturer-list ul {
  float: left;
  width: 25%;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.box.manufacturers li {
  border-top: 1px solid #eaeaea;
  padding: 5px 0;
}
.box.manufacturers li a {
  display: inline-block;
  text-decoration: none;
}
.product-filter {
  background: #e9eaea;
  overflow: auto;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 8px 13px;
}
.product-filter .display {
  float: right;
  color: #606a6d;
  height: 24px;
}
.display ul li.list a {
  background-position: -27px 0;
}
.display ul li a {
  background: url(../images/grid.jpg) no-repeat left top transparent;
  cursor: pointer;
  display: block;
  float: left;
  height: 26px;
  line-height: 28px;
  margin-right: 2px;
  overflow: hidden;
  text-indent: -9999px;
  width: 27px;
}
.product-filter .sort b {
  padding-right: 7px;
  font-weight: 700;
  font-size: 11px;
}
.product-filter .sort select {
  width: 140px;
}
.product-filter .sort {
  float: left;
  color: #606a6d;
  font-size: 11px;
  font-weight: 700;
}
.product-filter .limit select {
  width: 72px;
}
.product-filter .limit b {
  padding-right: 5px;
}
.product-filter .limit {
  margin-left: 13px;
  float: left;
  color: #606a6d;
  font-size: 11px;
  font-weight: 700;
}
.product-compare {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 12px;
  float: left;
  padding: 0;
}
.product-filter .product-compare a {
  text-decoration: none;
  font-size: 12px;
}
.product-list ul li {
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding-bottom: 18px;
}
.product-list .right {
  float: right;
  text-align: left;
  min-height: 164px;
  width: 120px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #eaeaea;
}
.product-list .image {
  float: left;
  margin-right: 20px;
}
#list_b {
  background: url(../images/list_a.png) no-repeat scroll 0 top transparent;
  display: inline-block;
  height: 24px;
  margin-left: 8px;
  margin-right: 5px;
  width: 25px;
  float: left;
}
#grid_a {
  background: url(../images/grid_a.png) no-repeat scroll 0 bottom transparent;
  display: inline-block;
  height: 24px;
  text-indent: -9999px;
  width: 25px;
  float: left;
}
.product-filter .display b {
  float: left;
  padding-top: 3px;
  font-size: 11px;
  font-weight: 700;
}
#list_a {
  background: url(../images/list_a.png) no-repeat scroll 0 bottom transparent;
  display: inline-block;
  height: 24px;
  margin-left: 8px;
  margin-right: 5px;
  text-indent: -9999px;
  width: 25px;
  float: left;
}
#grid_b {
  background: url(../images/grid_a.png) no-repeat scroll 0 top transparent;
  display: inline-block;
  height: 24px;
  width: 25px;
}
.product-list .description {
  overflow: hidden;
  margin-bottom: 5px;
}
.product-list .rating {
  color: #7b7b7b;
}
.product-list .price {
  float: left;
  margin-bottom: 10px;
}
.product-list .price-tax {
  font-size: 11px;
  color: #414141;
  font-weight: 400;
  padding-top: 5px;
  display: block;
}
.product-list .wishlist,
.product-list .compare {
  position: relative;
  margin-left: -5px;
}
.product-grid {
  overflow: hidden;
  padding: 15px 0 1px;
}
.product-list {
  padding: 15px 0 0;
}
.product-grid ul li {
  float: left;
  width: 203px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  border-left: 1px solid #f0f0f0;
  padding: 0 30px;
}
.extra-prod input {
  padding-bottom: 4px;
}
.extra-prod {
  padding-top: 6px;
}
.or {
  padding-top: 3px;
}
#tab-related .box-product>div {
  width: 100px;
  float: left;
  margin-right: 20px;
}
.wishlist a:hover {
  background: url(../images/iconimage.png) no-repeat 0 -24px;
}
.addtowishlist,
div.wishlist>a {
  float: left;
  background: url(../images/iconimage.png) no-repeat 0 0;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  width: 25px;
  margin-left: 5px;
}
.compare a:hover {
  background: url(../images/iconimage.png) no-repeat -29px -24px;
}
.addtocompare,
div.compare>a {
  background: url(../images/iconimage.png) no-repeat -29px 0;
  float: left;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  width: 25px;
  margin-left: 3px;
}
#column-left+#column-right+#content .product-grid>div {
  width: 125px;
}
.product-grid .image {
  display: block;
  text-align: center;
  margin: 0 0 15px;
}
.product-grid .name {
  text-align: center;
  min-height: 36px;
  padding: 0 0 5px;
}
.product-grid .description {
  height: 33px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0;
}
.product-grid .rating {
  display: block;
  height: 13px;
  margin-bottom: 10px;
}
.product-list .price,
.product-grid .price {
  display: block;
  min-height: 30px;
  margin-bottom: 0;
}
.product-grid .price-old {
  text-decoration: line-through;
  font-weight: 400;
  margin-left: 10px;
}
.product-grid .price-old,
.product-grid .price-new {
  display: inline-block!important;
}
.product-grid .wishlist,
.product-grid .compare {
  margin-bottom: 0;
  margin-top: 0;
  float: right;
  position: relative;
}
.product-grid .tooltip,
.product-grid .tooltip2 {
  bottom: 28px;
}
.product-info {
  padding-bottom: 7px;
  margin-top: 20px;
}
.product-info .wrapper .left {
  float: left;
  margin-right: 15px;
  margin-left: 1px;
  background: #f7f7f7;
  position: relative;
  z-index: 1;
  padding: 6px 6px 2px;
}
.product-info .indent-bot {
  margin-bottom: 20px;
}
.product-info>.left+.right h1 {
  padding-left: 0;
}
.product-info>.left+.right {
  margin-left: 370px;
}
#image {
  z-index: 0;
  float: left;
  margin-top: -300px;
}
.product-info .image {
  float: left;
  width: 300px;
  height: 300px;
  margin-bottom: 7px;
  text-align: center;
}
.product-info .image-additional {
  width: 300px;
  clear: both;
  overflow: hidden;
}
.product-info .image-additional li {
  float: left;
  margin: 0 15px 0 0;
}
.product-info .image-additional a {
  display: block;
  float: left;
}
.product-info .image-additional.image-caroucel li {
  margin: 0 5px;
}
.image-caroucel .jcarousel-prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 40%;
  background: url(../images/image-caroucel-prev.png) -11px 50% no-repeat #dc809c;
}
.image-caroucel .jcarousel-next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  top: 40%;
  background: url(../images/image-caroucel-next.png) 6px 50% no-repeat #dc809c;
}
.image-caroucel .jcarousel-prev.jcarousel-prev-disabled,
.image-caroucel .jcarousel-next.jcarousel-next-disabled {
  background-color: #3a3637!important;
  cursor: default!important;
}
.image-caroucel .jcarousel-next:hover,
.image-caroucel .jcarousel-prev:hover {
  cursor: pointer;
  background-color: #3a3637;
}
.padd-avalib {
  padding: 15px 20px;
}
.product-info .description {
  line-height: 20px;
  font-weight: 400;
  padding: 15px 5px 10px 0;
}
.product-info .description strong {
  color: #a6a4a4;
  font-weight: 700;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
}
.product-info .description span.price-old {
  margin-left: 10px;
}
.product-info .description span.error {
  color: red;
}
.product-info .description .button-prod:hover {
  background: #dc809c;
  text-decoration: none;
  color: #fff;
}
.product-info .description .button-prod a {
  font-weight: 400;
  text-decoration: none;
}
.product-info .price {
  background: #f7f7f7;
  font-size: 22px;
  float: none;
  min-height: inherit;
  padding: 10px 20px;
}
.product-info .price-old {
  text-decoration: line-through;
  color: #a6a4a4;
  font-weight: 400;
  font-size: 17px;
}
.product-info h1 {
  padding-left: 0;
  line-height: 30px;
  margin: 0;
}
.product-info .description .button-prod {
  background: #f2f2f2;
  cursor: pointer;
  color: #333;
  float: left;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 400;
  border-radius: 3px;
  margin: 0 10px 0 14px;
  padding: 8px 10px;
}
.product-info .price-tax {
  font-size: 12px;
  font-weight: 400;
  padding-left: 7px;
}
.product-info .price .reward {
  font-size: 13px!important;
  color: #999;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 700;
}
.product-info .price .discount {
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
}
.product-info .options {
  border-bottom: 1px solid #d6d3cc;
  margin-bottom: 10px;
  color: 1000;
  padding: 0 5px 10px;
}
.product-info .option-image {
  margin-top: 3px;
  margin-bottom: 10px;
}
.product-info .option-image label {
  display: block;
  width: 100%;
  height: 100%;
}
.product-info .option-image img {
  margin-right: 5px;
  border: 1px solid #eaeaea;
  cursor: pointer;
}
.cart-top-padd {
  padding-top: 8px;
  float: left;
}
.product-info .cart {
  color: #f1f1f1;
  overflow: auto;
  padding: 22px 5px 0 0;
}
.product-info .cart .cart-top label {
  font-size: 11px;
  font-weight: 700;
  color: #191919;
  padding-right: 7px;
}
.product-info .cart .cart-top .input-qti {
  width: 42px;
}
.product-info .cart div.extra-button {
  margin-top: 4px;
}
.product-info .cart div>span {
  padding-top: 7px;
  color: #999;
}
.cart-top {
  margin-top: -4px;
}
.extra-button {
  position: relative;
  margin-top: 0;
}
.product-info .cart .minimum {
  padding-bottom: 10px;
  font-size: 11px;
  color: #999;
  clear: both;
}
.product-info .review .a1 {
  margin-top: -5px;
  display: inline-block;
}
.product-info .review img {
  float: left;
  margin-top: 3px;
}
.product-info .review {
  color: #4d4d4d;
  margin-bottom: 3px;
}
.product-info .review .share {
  background: none;
  padding-top: 20px;
  padding-left: 0;
  overflow: hidden;
  line-height: normal;
}
.product-info .review>div {
  line-height: 20px;
  background: #f7f7f7;
  padding: 7px 10px 9px;
}
.btn-rew {
  float: right!important;
  font-size: 12px;
  color: #dfe1e4;
}
.btn-rew a {
  text-decoration: underline;
  font-size: 12px;
  color: #a6a4a4;
  font-weight: 400;
}
.product-info .review>div>span {
  color: #38b0e3;
}
.attribute {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  margin-bottom: 20px;
}
.attribute thead td,
.attribute thead tr td:first-child {
  color: #191919;
  font-size: 12px;
  font-weight: 700;
  background: #fcfcfc;
  text-align: left;
}
.attribute tr td:first-child {
  color: #737373;
  font-weight: 700;
  text-align: right;
  width: 12%;
}
.attribute td {
  color: #dc809c;
  text-align: left;
  vertical-align: top;
  padding: 7px 12px;
}
#tab-review .pagination .results {
  margin: 5px 0;
}
#tab-review .pagination {
  padding: 0 10px 0 0;
}
#tab-review b {
  display: inline-block;
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  color: #737373;
}
#tab-review .input-rew {
  width: 180px;
  margin-bottom: 10px;
}
#tab-review textarea {
  margin-bottom: 5px;
  height: 80px;
  resize: none;
}
#tab-review .buttons {
  padding-left: 0;
  margin-bottom: 0;
}
#tab-review .buttons .right .button:hover span {
  color: #fff;
}
.bb_rew {
  float: left;
  padding-top: 3px;
  padding-right: 12px;
}
.bb-2 {
  clear: both;
  margin-bottom: 5px;
}
.input-rew-capcha {
  width: 170px;
}
#review .content {
  font-size: 12px;
  margin-bottom: 3px;
}
#review .content p {
  font-weight: 400;
  color: #737373;
}
.related .box-product {
  width: auto;
  padding: 0;
}
.block-compare {
  position: relative;
  overflow: hidden;
}
.compare-info td.last-1 {
  border-bottom: 0;
}
.compare-info thead td {
  background: url(../images/tail-manuf.gif) 0 5px repeat-x #fff;
  overflow: hidden;
}
.compare-info thead td,
.compare-info thead tr td:first-child {
  color: #191919;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.compare-info tr td.et:first-child {
  background: #f9f9f9;
}
.compare-info tr td:first-child {
  color: #191919;
  font-weight: 700;
  text-align: right;
}
.td-price {
  font-weight: 700;
  font-size: 16px;
}
.compare-info .prod-stock {
  float: none;
  margin: 0 auto;
}
.compare-info td.name a {
  text-decoration: none;
  font-size: 12px;
  line-height: 17px;
}
.compare-info td.last {
  border-right: 0;
}
.compare-info td {
  width: 20%;
  color: #737373;
  text-align: center;
  vertical-align: top;
  padding: 7px;
}
.compare-info .price-old {
  font-weight: 400;
  color: #9f9f9f;
  text-decoration: line-through;
  display: block;
  font-size: 17px;
}
.compare-info td.td-price {
  font-weight: 400;
  font-size: 22px;
  color: #dc809c;
  line-height: normal;
}
.table-radius .buttons {
  margin-bottom: 0;
  border-right: 1px solid #eaeaea;
  background: url(../images/tail-wislish-bottom.gif) 0 0 repeat-x #f8f8f8;
  padding: 9px 9px 11px 12px;
}
.wishlist-product thead td {
  color: #191919;
  font-weight: 400;
  text-transform: uppercase;
}
.wishlist-product .prod-stock {
  background: url(../images/stock-w.png) left 0 no-repeat;
  color: #fff;
  float: left;
  font-size: 12px;
  height: 38px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 12px;
  padding-top: 10px;
  text-align: center;
  width: 38px;
}
.wishlist-product .button-up:hover {
  background-position: -22px;
}
.wishlist-product .button-up {
  font-size: 12px;
  border: 1px solid #eaeaea;
  text-decoration: none;
  color: 1000;
  font-weight: 700;
  background: url(../images/tail-but.gif) left 0 repeat-x;
  line-height: 22px;
  height: 22px;
  padding: 3px 7px 4px 8px;
}
.wishlist-product thead .quantity,
.wishlist-product thead .price,
.wishlist-product thead .total {
  text-align: left;
  font-size: 14px;
}
.wishlist-product tbody td.action {
  width: 100px;
  text-align: center;
}
.wishlist-product tbody .name {
  text-align: left;
  padding-left: 20px;
  width: 200px;
}
.wishlist-product tbody .stock .prod-stock {
  margin-left: 15px;
}
.wishlist-product tbody .price {
  text-align: center;
  font-size: 17px;
}
.wishlist-product tbody .price s {
  color: #a6a4a4;
  display: block;
  font-weight: 400;
}
.login-content .left p+p {
  margin-bottom: 16px;
}
.login-content .left p {
  margin-bottom: 10px;
  line-height: 17px;
}
.login-content .left h2 {
  color: #dc809c;
  margin-bottom: 3px;
}
.login-content .right h2 {
  margin-bottom: 3px;
}
.login-content .left .content {
  margin-bottom: 0!important;
}
.checkout-content.opt .left,
.login-content .left {
  float: left;
  width: 44%;
  background: url(../images/login-content-left.gif) right bottom no-repeat #fff;
  height: 265px;
  border: 1px solid #eaeaea;
  padding: 15px 20px 12px;
}
.checkout-content.opt .right,
.login-content .right {
  float: right;
  width: 45%;
  height: 277px;
  background: url(../images/login-content-right.gif) 0 0 no-repeat #f8f8f8;
  border: 1px solid #eaeaea;
  padding: 15px 0 0 20px;
}
.link-login {
  font-size: 12px;
  color: #dc809c;
  text-decoration: underline;
  padding-top: 1px;
  margin-bottom: 15px;
  display: inline-block;
}
.padd-form {
  display: block;
  padding-bottom: 5px;
}
.login-content .left .content,
.login-content .right .content {
  min-height: 190px;
}
#register select {
  width: 308px;
}
.order-list,
.return-list {
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}
.heading-order-list {
  background: url(../images/tail-manuf.gif) 0 0 repeat-x #f8f8f8;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
  padding: 6px 12px 5px 10px;
}
.order-list .order-id,
.return-list .return-id {
  width: 49%;
  float: left;
  color: #191919;
  font-size: 12px;
  font-weight: 700;
}
.order-list .order-status,
.return-list .return-status {
  font-weight: 700;
  font-size: 12px;
  color: #191919;
}
.order-list .order-content,
.return-list .return-content {
  display: inline-block;
  width: 720px;
  padding: 16px 20px 13px;
}
.order-list .order-content div>span {
  color: #33210e;
}
.order-list .order-content div,
.return-list .return-content div {
  line-height: 17px;
  color: #191919;
  float: left;
  width: 33.2%;
}
.order-detail {
  background: #efefef;
  font-weight: 700;
}
.return-box-2 {
  margin-bottom: 10px;
  padding: 15px 20px 19px;
}
.return-box-2 .buttons {
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.return-p {
  padding-left: 17px;
}
#content .content.return-box {
  margin-bottom: 10px;
  padding: 14px 10px 11px 20px;
}
.content.return-box h2 {
  margin-bottom: 14px;
}
.content.return-box label {
  font-size: 12px;
  font-weight: 700;
  color: #737373;
}
.content.return-box span {
  color: #ff7409;
}
.content.return-box input {
  margin-top: 6px;
  margin-bottom: 7px;
  width: 310px;
}
.content.return-box .error {
  padding-bottom: 5px;
  display: block;
}
.return-box-3 {
  margin-bottom: 20px;
  padding: 14px 10px 10px 20px;
}
.return-box-3 textarea {
  width: 310px;
  height: 188px;
  max-width: 310px;
  max-height: 188px;
}
.return-box-3 .return-captcha {
  width: 320px;
  margin-top: -3px;
}
.return-box-3 .return-captcha b {
  padding-bottom: 6px;
  display: block;
}
.return-box-3 .return-captcha input {
  width: 170px;
  margin-bottom: 10px;
}
.return-box-3 .return-additional {
  margin-bottom: 11px;
}
.return-box-3 .buttons {
  margin-bottom: 0;
  padding: 0;
}
.button-return-right:hover {
  cursor: pointer;
  color: #dc809c;
}
.button-return-right {
  border: 0;
  background: url(../images/marker-button-right.png) no-repeat scroll right 9px transparent;
  color: #35230f;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2em;
  font-family: arial;
  padding: 5px 14px;
}
a.button-return-left,
a.button-return-right,
a.button-order-right,
a.button-cont-right,
a.button-back-left,
a.button-inf-left {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  padding-right: 0;
}
a.button-return-left span,
a.button-return-right span,
a.button-order-right span,
a.button-cont-right span,
a.button-back-left span,
.wishlist-product a.button-wislish-left span,
a.button-inf-left span {
  color: #35230f;
  line-height: 1.2em;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}
a.button-return-left span,
a.button-back-left span,
a.button-wislish-left span {
  background: url(../images/marker-button-left.png) left 8px no-repeat;
  padding: 5px 0 5px 14px;
}
a.button-return-right span,
a.button-order-right span,
a.button-cont-right span,
a.button-inf-left span {
  background: url(../images/marker-button-right.png) right 8px no-repeat;
  padding: 5px 14px 5px 0;
}
.return-opened textarea {
  max-width: 98%;
  vertical-align: top;
}
.return-remove {
  float: left;
  width: 33.3%;
  padding-top: 90px;
  text-align: center;
  vertical-align: middle;
}
.return-captcha {
  float: right;
  width: 30%;
}
.download-list .download-content {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
}
.shop-cart {
  border-bottom: none;
  overflow: hidden;
  position: relative;
}
.cart-info td {
  padding: 7px 7px 6px 8px;
}
.cart-info thead td {
  color: #191919;
  font-weight: 700;
}
.cart-info thead .quantity,
.cart-info thead .price,
.cart-info thead .total {
  text-align: left;
  font-family: Arial;
  font-size: 12px;
}
.cart-info tbody .name a {
  line-height: 17px;
}
.cart-info tbody .price,
.cart-info tbody .total {
  font-size: 17px;
}
.cart-info tbody .quantity,
.cart-info tbody .price,
.cart-info tbody .total {
  text-align: center;
  width: 75px;
}
tbody .total {
  font-weight: 700;
  color: #1f1f1f;
}
#shipping select {
  width: 234px;
  float: left;
}
#shipping input {
  width: 226px;
  float: left;
  margin: 0;
}
.cart-info tbody span.stock {
  color: red;
  font-weight: 700;
}
.cart-module .cart-heading {
  border-top: none;
  font-weight: 700;
  font-size: 12px;
  color: #191919;
  cursor: pointer;
  background: #fafafa url(../images/arrow-right.png) 10px 55% no-repeat;
  padding: 7px 8px 6px 27px;
}
.cart-bottom {
  border-top: none;
  overflow: hidden;
  border-bottom: medium none;
  border-left: medium none;
  border-right: medium none;
  margin: 15px 0;
}
.cart-module .active {
  background: #f8f8f8 url(../images/arrow-down.png) 9px 60% no-repeat;
}
#shipping td {
  text-align: right;
  font-size: 11px;
  font-weight: 700;
  color: #606a6d;
  padding-right: 5px;
  padding-bottom: 8px;
}
.cart-module .cart-content {
  display: none;
  overflow: auto;
  border-top: none;
  padding: 18px 0 19px 18px;
}
.cart-info {
  overflow: hidden;
  margin: 20px 0;
}
#voucher .form textarea {
  max-width: 300px;
  width: 300px;
}
#voucher input {
  float: left;
  clear: left;
}
#voucher label {
  float: left;
  margin: 1px 0 0;
}
#voucher .right input {
  float: none;
}
.cart-content p {
  font-weight: 700;
  font-size: 12px;
  color: #e52234;
  margin-bottom: 15px;
}
.cart-total table {
  border-collapse: collapse;
  background: #fff;
  width: 100%;
}
.cart-total table td {
  font-weight: 700;
  color: #4d4949;
  padding: 6px 10px;
}
.cart-total table td b {
  font-family: Arial,Helvetica,sans-serif;
}
.cart-total td {
  text-align: right;
  padding: 3px;
}
#cboxLoadedContent .about-page-2,
#cboxLoadedContent .about-page {
  padding: 20px 25px;
}
.about-page h3 {
  font-size: 15px;
  font-weight: 600;
  color: #191919;
  padding-bottom: 13px;
  margin: 0;
}
.about-page-2 h3 {
  font-size: 15px;
  font-weight: 600;
  color: #191919;
  padding-bottom: 13px;
  margin-bottom: 0;
}
#cboxLoadedContent h1 {
  margin: 15px 15px 0;
}
.about-page ul li {
  font-weight: 700;
  color: #626060;
  font-size: 12px;
  margin-bottom: 4px;
  background: url(../images/marker-3.png) 0 5px no-repeat;
  padding-left: 12px;
}
.checkout #checkout {
  border-top: 1px solid #eaeaea;
}
.checkout-content.opt .left h2 {
  color: #dc809c;
  padding-bottom: 0;
}
.checkout-content.opt .right h2 {
  padding-bottom: 0;
}
.checkout-heading {
  border-bottom: none;
  font-weight: 700;
  font-size: 12px;
  color: #191919;
  border: 1px solid #eaeaea;
  border-top: 0;
  padding: 7px 8px 7px 0;
}
.marker-chekout {
  background: url(../images/marker-chekout.png) 9px 6px no-repeat;
  padding-left: 28px;
}
.checkout-heading a {
  float: right;
  margin-top: -15px;
  font-weight: 400;
  text-decoration: none;
}
.cart-total-name {
  color: #191919;
  width: 87%;
}
.cart-total1 {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.cart-total td.last {
  border-bottom: none;
}
.checkout-heading a:hover {
  color: #43403d;
  text-decoration: underline;
}
.checkout-content {
  display: none;
  overflow: auto;
  border-bottom: none;
  border: 1px solid #eaeaea;
  border-top: 0;
  padding: 20px 20px 15px;
}
.checkout-content .left label {
  margin-right: 12px;
  width: 150px;
}
.checkout-content .left b {
  margin-top: 2px;
  float: left;
}
.login-padd {
  padding-top: 12px;
}
.checkout-content .right input.d1 {
  width: 90%;
  margin-top: 5px;
}
.checkout-content .right {
  float: right;
  width: 48%;
}
.checkout-content .buttons {
  clear: both;
  margin-bottom: 0;
}
.checkout-product table b {
  color: #191919;
  font-weight: 700;
  font-family: Arial,Helvetica,sans-serif;
}
.checkout-product table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background: url(../images/bg-cart-image.png) 40px 90% no-repeat;
}
.checkout-product td {
  padding: 7px;
}
.checkout-product thead td {
  color: #191919;
}
.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
  text-align: center;
  color: 1000;
  font-weight: 400;
}
.contact-info {
  overflow: auto;
  margin-bottom: 10px;
  padding: 20px 20px 19px 18px;
}
.contact-form-left {
  width: 50%;
  float: left;
  margin-bottom: 4px;
}
.contact-form-right {
  width: 50%;
  float: left;
}
.padd-content {
  padding-bottom: 6px;
}
.content.contact-f textarea {
  resize: none;
  height: 142px;
  margin-bottom: 6px;
}
.content.contact-f .capcha {
  width: 172px;
}
.map-left {
  float: left;
  width: 55%;
}
.map-content figure {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.map-content {
  width: 45%;
  height: 243px;
  float: right;
  overflow: hidden;
}
.contact-box {
  width: 270px;
  padding-top: 7px;
  background: url(../images/adr.png) left 4px no-repeat;
  padding-left: 93px;
  line-height: 17px;
  margin-bottom: 18px;
}
.contact-box-2 {
  width: 270px;
  padding-top: 7px;
  background: url(../images/telephon.png) left 6px no-repeat;
  padding-left: 93px;
  line-height: 17px;
}
#content .content.contact-f {
  background: url(../images/bg-contact-form.gif) left bottom repeat-x #fff;
  padding: 20px;
}
.content.contact-f .buttons {
  margin-bottom: 0;
  padding: 10px 10px 0 0;
}
.sitemap-info {
  overflow: auto;
  margin-bottom: 40px;
}
#newsletter .content {
  border: none;
  margin: 0;
  padding: 0;
}
#newsletter .form tr td:first-child {
  width: 58px;
}
#footer .cont {
  margin-bottom: 20px;
  line-height: 22px;
  color: #b2b2b2;
}
#footer .cont span {
  display: block;
  font-size: 19px;
  line-height: normal;
  color: #dc809c;
}
.footer-wrap {
  clear: both;
  overflow: hidden;
  width: 1024px;
  margin: 0 auto;
}
#footer {
  clear: both;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  padding: 28px 96px;
}
.common-home #footer {
  border-top: 0;
  margin-top: 0;
}
#footer ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
#footer ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
#footer a {
  text-decoration: none;
  color: #a09f9f;
  font-size: 13px;
}
#footer a:hover {
  color: #dc809c;
  text-decoration: underline;
}
#powered a:hover {
  color: #dc809c;
  text-decoration: none;
}
#powered a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 12px;
  font-weight: 700;
}
#powered {
  border-top: 1px solid #ebebeb;
  font-size: 12px;
  color: #6c6c6c;
  line-height: 31px;
  position: relative;
  padding: 30px 0;
}
#powered .socials {
  position: absolute;
  right: 0;
  top: 29px;
}
.socials li {
  float: left;
  margin-left: 6px;
}
.socials li a {
  width: 32px;
  height: 31px;
  display: block;
}
.socials li a.fb {
  background: url(../images/social-fb.png) no-repeat left top;
}
.socials li a.twi {
  background: url(../images/social-twi.png) no-repeat left top;
}
.socials li a.rss {
  background: url(../images/social-rss.png) no-repeat left top;
}
.socials li a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-top: 2px;
}
#easyTooltip {
  border: 1px solid #eaeaea;
  background: #3f3f3f;
  color: #fff;
  font-size: 11px;
  text-transform: none;
  position: relative;
  z-index: 99;
  font-weight: 700;
  padding: 5px 10px;
}
.product-search .content select {
  padding-bottom: 3px;
}
.product-search h2 {
  padding: 10px 0 0;
}
.welcome-box img {
  float: right;
  margin-top: -90px;
  margin-right: 20px;
}
.success,
.warning,
.attention,
.information,
.rev-success {
  margin-bottom: 5px;
  color: #555;
  padding: 10px;
}
.success a,
.warning a,
.attention a,
.information a {
  color: #333;
}
#cart-success {
  position: fixed;
  z-index: 9998;
}
.success a {
  text-decoration: underline;
  color: #43403d;
}
.success span:hover img {
  margin-top: -11px;
}
.success p {
  margin-bottom: 11px;
  font-size: 24px;
  color: #1b1b1b;
}
.success span {
  width: 11px;
  height: 11px;
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 8px;
}
#wrap {
  z-index: 10!important;
}
.rev-success {
  background: #eaf7d9 url(../images/success.png) left no-repeat;
  border: 1px solid #eaeaea;
  padding-left: 20px;
}
.related-info .name {
  min-height: 36px;
  margin-bottom: 0;
}
.related-info {
  vertical-align: top;
  display: inline-block;
  float: left;
  text-align: center;
  width: 203px!important;
  margin-left: 30px;
  border-left: 1px solid #f0f0f0;
  padding: 0 0 0 30px;
}
.related-carousel .related-info {
  margin-left: 0;
  margin-right: 30px;
}
.related h1 {
  margin: 0 0 20px;
}
.related.related-carousel .box-product {
  overflow: hidden;
  width: auto;
}
.related-info .rating {
  height: 13px;
  margin-top: 0;
  display: none;
}
.related .jcarousel-clip {
  overflow: hidden;
  margin: 0;
}
.related .jcarousel-next-disabled,
.related .jcarousel-prev-disabled {
  display: none;
  visibility: hidden;
}
.related .jcarousel-prev {
  display: block;
  position: absolute;
  height: 41px;
  width: 41px;
  left: 0;
  top: 40%;
  background: url(../images/related-pagg-prev.png) -18px 50% no-repeat #2e2e2e;
  cursor: pointer;
}
.related .jcarousel-prev:hover {
  background: url(../images/related-pagg-prev.png) -18px 50% no-repeat #dc809c;
}
.related .jcarousel-next {
  display: block;
  position: absolute;
  height: 41px;
  width: 41px;
  right: 0;
  top: 40%;
  background: url(../images/related-pagg-next.png) no-repeat 18px 50% #2e2e2e;
  cursor: pointer;
}
.related .jcarousel-next:hover {
  background: url(../images/related-pagg-next.png) no-repeat 18px 50% #dc809c;
}
.mt5 {
  margin-top: 5px;
}
.cart-info tbody .quantity>input {
  width: 45px;
  margin-top: 5px;
}
#content .shop-cart-content {
  border: 1px solid #eaeaea;
  position: relative;
  z-index: 1;
  padding: 15px;
}
#content .shop-cart-content>p {
  color: #dc809c;
  font-weight: 700;
}
.checkout-cart h2 {
  font-size: 20px;
  line-height: 24px;
  color: #191919;
  padding: 20px 0;
}
#content .cart-module>div {
  display: none;
  border: 1px solid #eaeaea;
  border-top: none;
  margin-bottom: 0;
  margin-top: -3px;
  position: relative;
  z-index: 0;
  padding: 15px;
}
#content .cart-module .error {
  clear: left;
  float: left;
  font-weight: 400;
}
.cart-module #voucher input {
  float: none;
  width: 230px;
  margin: 0 5px;
}
.cart-total table td.cart-total1 {
  border: 1px solid #eaeaea;
  font-weight: 700;
  padding: 6px 10px;
}
#confirm .checkout-content {
  border-bottom: 1px solid #eaeaea;
}
#shipping-method textarea,
#payment-method textarea {
  min-height: 80px;
  font-family: Arial,Helvetica,sans-serif;
  resize: none;
}
#colorbox {
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  z-index: 100!important;
}
.preview {
  width: 700px;
  padding: 15px;
}
.preview .right .inf span {
  display: block;
  margin-bottom: 10px;
}
.preview .left {
  float: left;
  padding-right: 20px;
}
.preview .right h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.preview .right {
  float: left;
  width: 50%;
}
.preview .description {
  height: 160px;
  overflow: auto;
  border: 1px solid #eaeaea;
  padding: 15px;
}
.preview .extra-button {
  float: left;
  width: 150px;
  margin-top: 0;
  margin-left: 15px;
}
#cboxContent #cboxTitle {
  width: 60%;
  padding: 0 20%;
}
#cboxOverlay {
  z-index: 100!important;
}
.preview .rating {
  margin-top: 15px;
}
.box .box-content .box-product ul li .quick-view-button {
  display: none;
  left: 35%;
  position: absolute;
  top: 37%;
}
.image3 img {
  height: 300px;
  width: auto;
}
#payment,
.payment {
  padding: 10px;
}
a:hover,
.fancybox,
.wishlist-product td a,
.category-list ul li a,
.manufacturer-list a,
.product-info .description a,
.btn-rew a:hover,
.product-info .review .share a,
.link-login:hover,
.sitemap-info li a,
.success a:hover {
  text-decoration: none;
  color: #dc809c;
}
input:focus,
textarea:focus,
select:focus,
a {
  outline: none;
}
.fancybox:hover,
#header #cart .cart td.name a:hover,
#header .links a:hover,
#header .links a.active,
table.list tbody td a,
#module_cart .cart .name a:hover {
  text-decoration: underline;
}
.account-success #content p,
.box-content .information li:first-child {
  margin-bottom: 5px;
}
.wrapper,
.login-content,
.preview .price {
  width: 100%;
  overflow: hidden;
}
.common-home .main-container,
.box.featured,
.cap-p,
#content .contact-info .content {
  margin-bottom: 0;
}
#header #logo a,
#header #logo a img,
.banner>div img,
.banner>div a,
#header #cart.active .content,
#module_cart.active .content,
.tip:hover+.tooltip,
.tip2:hover+.tooltip2,
.box-category>ul>li.active ul,
.box-category>ul>li a.active+ul,
.product-list .price-new,
.product-grid .price-new,
.login-content .right .content b,
.box .box-content .box-product ul li:hover .quick-view-button {
  display: block;
}
#language img,
#currency a:hover span,
#module_cart .cart .remove img,
.box-category>ul>li span.close:hover {
  cursor: pointer;
}
.header-top1,
.cart-inner,
.socials {
  float: right;
}
.banner>div:first-child,
.related-info:first-child,
.preview .right .inf span.text-price {
  margin-left: 0;
}
#currency span,
#module_cart .cart .image,
.box-category>ul>li strong,
.info-about2,
.info-about3,
.info-about4,
.product-list .price br,
.product-grid .price .price-tax {
  display: none;
}
.heading a strong,
#module_cart .cart td a,
.product-list .price-old,
.product-list .price-old,
.wishlist-product tbody .price b,
.order-list .order-content div b,
.return-list .return-content div b,
#coupon a {
  font-weight: 400;
}
.cart-module .remove img:hover,
#header #cart .cart .remove img:hover {
  overflow: hidden;
  margin-top: -11px;
}
.cart-module .cart .remove img,
#header #cart .cart .remove img {
  float: left;
  cursor: pointer;
}
.cart-module .cart .remove span,
#header #cart .cart .remove span {
  width: 11px;
  height: 11px;
  overflow: hidden;
  display: inline-block;
}
#button-register,
.box-filter .box-content .button,
#payment-existing,
.checkout-content .buttons #button-payment,
.buttons .right .mt,
.product-info .options h2,
#tab-review #captcha,
.sitemap-info ul,
.content.contact-f .buttons .button {
  margin-top: 10px;
}
.price .price-new,
.cart-total td.cart-total1.last {
  color: #1f1f1f;
}
.icon-tools>div,
.box.category li,
.related-info .price,
.featured ul li .image2 {
  position: relative;
}
.icon-tools div.wishlist,
.icon-tools div.compare,
.box-product .image2 img,
.content b {
  display: inline-block;
}
.icon-tools div.wishlist>a:hover,
.icon-tools div.compare>a:hover {
  background-position: 0 bottom;
}
#content .box .box-content .box-product ul li.last-in-line .inner-indent,
.product-grid ul li.last-in-line {
  padding-right: 0;
}
#content .box .box-content .box-product ul li.first-in-line,
.box-product.box-subcat li.first-in-line,
.product-grid ul li.first-in-line {
  clear: left;
}
#column-left .info li:first-child,
#column-right .info li:first-child,
.afine li:first-child,
.acount li:first-child,
.box.manufacturers li:first-child {
  border-top: 0;
}
table.form tr td:first-child,
.LikePluginPagelet,
.connect_widget_like_button {
  width: 150px;
}
table.form>*>*>td,
.btn-rew a+a {
  color: 1000;
}
select.large-field,
.compare-info {
  width: 100%;
}
.return-remove .button:hover,
a.button:hover span {
  color: #fff;
}
.pagination .links,
.preview .price span {
  float: left;
  margin-right: 10px;
}
.product-list #image,
.product-grid #image,
.home-block #image {
  float: left;
  margin-top: 0;
  z-index: 0;
}
.box .box-content.inform,
a.button-order-right {
  padding: 0;
}
.box-product.box-subcat li.last-in-line,
.box-product>li.tree-div,
.product-info .image-additional li.last {
  margin-right: 0;
}
.box-product .name a,
.product-info .price .price-old,
.product-info .price .price-new {
  display: inline;
}
.box-category ul,
.information,
.afine,
.content ul,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.account-edit .content .form input,
.account-password .content .form input {
  width: 200px;
}
.box.category .box-content,
.prod-row {
  padding-bottom: 20px;
}
.box-category>ul>li span.expanded,
.box-category>ul>li.active li span.expanded,
.box-category>ul>li.active li.active span.close {
  background: url(../images/nolines_minus.png) left bottom no-repeat!important;
}
.box-category>ul>li span.collapsed,
.box-category>ul>li.active li span.close,
.box-category>ul>li.active li.active span.close.collapsed {
  background: url(../images/nolines_minus.png) left top no-repeat!important;
}
#content .content .left,
.return-comment {
  float: left;
  width: 49%;
}
.category-info,
.category-list,
.return-product,
.return-detail,
.return-additional {
  overflow: auto;
  margin-bottom: 20px;
}
.product-filter .display a,
.product-info .description span,
.shop-cart-content .highlight label {
  font-weight: 700;
}
#cloud-zoom-big,
.order-list .order-content div .button {
  margin-top: 3px;
}
.product-info .image-additional img,
#zoom1 img {
  background: #fff;
}
.image-caroucel .jcarousel-clip,
#register .q1 {
  width: 300px;
}
.product-info .price-new,
.price-prod-page {
  font-size: 22px;
  font-weight: 400;
}
.wishlist-product table,
.cart-info table {
  width: 100%;
  border-collapse: collapse;
}
.wishlist-product tbody td,
.checkout-product tbody td {
  vertical-align: top;
}
.wishlist-product tbody .remove,
.cart-info tbody td,
.cart-info tbody .remove {
  vertical-align: middle;
}
.wishlist-product tbody .remove,
.wishlist-product tbody .image,
.wishlist-product tbody .cart,
.cart-info tbody .remove,
.cart-info tbody .image,
.checkout-product thead .name,
.checkout-product thead .model,
.checkout-product tbody .model,
.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
  text-align: center;
}
.wishlist-product tbody .model,
.wishlist-product tbody .stock,
.cart-info tbody .model {
  text-align: center;
  color: #242424;
}
.login-content .content,
#register .content {
  border: none!important;
  padding: 0!important;
}
#login .q1,
.content.contact-f .q2 {
  width: 95%;
}
.login-content .right .content p,
.return-box-3 h2 {
  margin-bottom: 15px;
}
.order-list .order-status,
.return-list .return-status,
.download-list .download-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.return-p p,
.content.contact-f h2 {
  margin-bottom: 13px;
}
#content .content.return-box .left,
#content .content.return-box .right {
  width: 320px;
}
.return-list .return-id,
.download-list .download-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.return-name,
.return-model,
.return-quantity,
.return-reason,
.return-opened,
.download-list .download-content div {
  float: left;
  width: 33.3%;
}
#coupon,
#voucher {
  font-weight: 700;
  color: #dc809c;
  font-size: 11px;
}
#coupon input,
.cart-content input {
  width: 230px;
  margin-left: 5px;
  margin-right: 5px;
}
.about-page p,
.about-page-2 p {
  font-size: 12px;
  color: #737373;
  line-height: 17px;
  margin-bottom: 12px;
}
.checkout-content h2,
.p1 {
  padding-bottom: 12px;
}
#payment-address-existing,
#payment-address-new {
  margin-top: 1px;
  margin-right: 5px;
  float: left;
  margin-left: 0;
}
.checkout-content .left #register,
.checkout-content .left #guest {
  float: left;
  margin-right: 5px;
}
.checkout-content .left,
.contact-info .left,
.contact-info .right,
.sitemap-info .left,
.sitemap-info .right {
  float: left;
  width: 48%;
}
.checkout-content .buttons .right input,
input#sub_category,
input#description {
  position: relative;
  top: 2px;
}
.contact-box b,
.contact-box-2 b {
  font-size: 15px;
  font-weight: 600;
  color: #191919;
}
.preview .tip:hover span,
.preview .tip2:hover span {
  display: block;
  text-indent: 0;
  bottom: 25px;
  left: 0;
}
ul li.leaf,
ul li.collapsed,
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
}
input.form-submit {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: #f2f2f2;
  border-radius: 2px;
  color: #333;
  white-space: nowrap;
  font-size: 12px;
  line-height: 17px;
  text-transform: lowercase;
  font-weight: 400;
  border: none;
  padding: 5px 15px;
}
input.form-submit:hover {
  background: #dc809c;
  color: #fff;
}
.node .node-content {
  background: none;
  text-align: justify;
  position: relative;
  margin-top: -25px;
  padding: 30px 0 0;
}
.node .field-name-field-category {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 0;
}
.node .field-name-body {
  text-align: justify;
}
.node ul.links {
  text-align: right;
  display: block;
  padding-top: 5px;
}
.node .field-name-field-img-category {
  float: left;
  padding-right: 10px;
  max-width: 150px;
}
.node .field-name-field-img-category img {
  max-width: 150px;
}
.node img {
  max-width: 350px;
}
.node-image {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
  max-width: 350px;
}
#breadcrumb {
  padding-bottom: 10px;
}
#block-user-login .form-text {
  width: 233px;
  border: 1px solid #d4d0c8;
}
#block-user-login .form-submit {
  cursor: pointer;
  margin: 10px 0 0;
}
#block-user-login .item-list ul li {
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-position: left 2px;
}
#block-menu-menu-secondary-menu .content ul li {
  font-size: 16px;
}
#conttopleft {
  float: left;
  width: 49%;
  overflow: hidden;
}
#conttopright {
  float: right;
  width: 49%;
  overflow: hidden;
}
#headmid {
  position: absolute;
  width: 400px;
  z-index: 2;
}
#headmid .region-headmid {
  padding-top: 35px;
}
*,
html {
  margin: 0;
  padding: 0;
}
.cart-module .cart tr,
a {
  background: none;
}
.box,
.account-order .pagination,
.wishlist-product,
.preview .marg,
.block,
.node {
  margin-bottom: 25px;
}
#content .content,
.extra-wrap,
.box .box-content,
.product-list .left,
.compare-info thead,
.table-radius,
.related {
  overflow: hidden;
}
a img,
.information li:first-child,
.content ul li:first-child,
.box-category>ul>li.last,
.map-content figure iframe,
tbody {
  border: none;
}
.fleft,
.product-grid .cart,
.product-info .cart div,
#tab-review .buttons .right,
.return-box-2 .buttons .right,
.preview .cart,
#block-user-login .item-list {
  float: left;
}
#header #cart .cart .image img,
.wishlist-product thead .remove,
.wishlist-product thead .image,
.wishlist-product thead .cart,
.wishlist-product thead .name,
.wishlist-product thead .model,
.wishlist-product thead .stock,
.cart-info thead .remove,
.cart-info thead .image,
.cart-info thead .name,
.cart-info thead .model,
.cart-info tbody .name,
.checkout-product tbody .name,
#block-user-login .form-item,
#block-user-login .item-list {
  text-align: left;
}
.name a:hover,
#column-left .info li a:hover,
#column-right .info li a:hover,
.afine li a:hover,
.acount li a:hover,
.breadcrumb a.last,
.breadcrumb a:hover,
.content ul li a:hover,
.box-category>ul>li.active>a,
.box-category>ul>li>a:hover,
.box-category>ul>li ul>li.active>a,
.box-category>ul>li ul>li>a:hover,
.box-category>ul>li ul>li>a.active,
.sitemap-info ul li a:hover,
.manufacturer-list ul li a:hover,
.box.manufacturers li a:hover,
.product-filter .product-compare a:hover,
.product-info .description a:hover,
.order-list .order-id span,
.order-list .order-status span,
.order-list .order-content div .or-price,
.return-list .return-id span,
.return-list .return-status span,
.return-list .return-content div .or-price,
a.button-return-left:hover span,
a.button-return-right:hover span,
a.button-order-right:hover span,
a.button-cont-right:hover span,
a.button-back-left:hover span,
.wishlist-product a.button-wislish-left:hover span,
a.button-inf-left:hover span,
.checkout-content.opt .right a,
#block-user-login .form-required {
  color: #dc809c;
}
#module_cart .checkout .button,
.product-manufacturer h1,
.product-list .name,
.product-list .cart,
#tab-review h2,
.return-list,
.download-list,
#shipping,
.preview .inf .prod-stock,
.node .submitted {
  margin-bottom: 10px;
}
.wishlist-product tbody .quantity,
.wishlist-product tbody .total,
.order-list .order-info,
.return-list .return-info,
.download-list .download-info,
.checkout-product tfoot td,
#user-login-form {
  text-align: right;
}
.node h2 a,
.node h2 a:hover,
#block-user-login .item-list ul li a,
#block-user-login .item-list ul li a:hover {
  text-decoration: none;
}
