#menu {
  width: 1044px;
  background: url(../images/menu.png) repeat-x left top #fff;
  margin: 0 auto 2px;
  padding: 0 42px 0 21px;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu>ul>li:first-child {
  background: none;
}
#menu>ul>li {
  float: left;
  z-index: 10;
  position: relative;
  background: url(../images/separator.png) no-repeat left;
  padding: 32px 18px;
}
#menu>ul>li>a {
  display: block;
  z-index: 1;
  position: relative;
  font-size: 14px;
  color: #7e7e7e;
  text-decoration: none;
  line-height: 21px;
}
#menu>ul>li ul {
  display: none;
  position: absolute;
  z-index: 99;
  background: #a4c7bc;
  left: 0;
  top: 60px;
  width: 140px;
  margin: 0!important;
  padding: 20px;
}
#menu>ul>li:hover>div {
  display: table;
}
#menu>ul>li ul+ul {
  padding-left: 0;
  min-height: 162px;
}
#menu>ul>li ul>li>a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0;
}
#menu>ul>li>ul li:first-child {
  border-top: 0;
}
#menu>ul>li>ul li {
  position: relative;
}
#menu>ul>li>ul>li a {
  color: #fff;
  font-size: 11px;
  text-transform: none;
  line-height: 18px;
  text-align: left;
}
#menu ul>li ul ul {
  position: absolute;
  left: 160px;
  top: -20px;
}
#menu>ul>li>a:hover,
#menu>ul>li.sfHover>a,
#menu>ul>li.active>a,
#menu ul>ul>li ul li a:hover,
#menu>ul>li>ul>li a.active {
  color: #dc809c;
}
#menu>ul>li ul>li>a:hover,
#menu>ul>li ul>li.active>a,
#menu>ul>li ul>li.sfHover>a,
#menu>ul>li>ul>li:hover,
#menu>ul>li>ul>li.active {
  color: #e5ffef;
}
