/*********** Views Styles ****************************/

/*
.view-content {
  padding: 10px;
}
*/

.views-view-grid {
  width: 100%;
}

.views-field-title {
  font-size: 14px;
  padding-bottom: 2px;
}

.views-field-title a {
  text-decoration: none;
  color: #727272;
}

.views-field-title a:hover {
  text-decoration: none;
  color: #dc809c;
}

.views-field-created {
  margin-top: 2px;
  margin-bottom: 2px;
}

.views-field-name {
  margin-top: 2px;
  margin-bottom: 2px;
}

.views-field-comment-count {
  margin-top: 2px;
  margin-bottom: 2px;
}

.views-field-body {
  margin-top: 2px;
  text-align: justify;
  color: #afafaf;
}

.views-field-field-catimage,
.views-field-field-img-view {
  float: left;
  font: 0/0 Arial;
}


/*------------- View-A ----------0-1-2-3-4-5-------*/

#block-views-view-a-block .views-row,
#block-views-view-a-1-block .views-row,
#block-views-view-a-2-block .views-row,
#block-views-view-a-3-block .views-row,
#block-views-view-a-4-block .views-row,
#block-views-view-a-5-block .views-row {
  padding-bottom: 10px;
  overflow: hidden;
}

#block-views-view-a-block .views-row-last,
#block-views-view-a-1-block .views-row-last,
#block-views-view-a-2-block .views-row-last,
#block-views-view-a-3-block .views-row-last,
#block-views-view-a-4-block .views-row-last,
#block-views-view-a-5-block .views-row-last {
  padding-bottom: 0;
}

#block-views-view-a-block .view-content td,
#block-views-view-a-1-block .view-content td,
#block-views-view-a-2-block .view-content td,
#block-views-view-a-3-block .view-content td,
#block-views-view-a-4-block .view-content td,
#block-views-view-a-5-block .view-content td {
  padding-bottom: 10px;
  vertical-align: top;
}

#block-views-view-a-block .view-content tr.row-last td,
#block-views-view-a-1-block .view-content tr.row-last td,
#block-views-view-a-2-block .view-content tr.row-last td,
#block-views-view-a-3-block .view-content tr.row-last td,
#block-views-view-a-4-block .view-content tr.row-last td,
#block-views-view-a-5-block .view-content tr.row-last td {
  padding-bottom: 0;
}

#block-views-view-a-block .views-field-field-catimage,
#block-views-view-a-block .views-field-field-img-view,
#block-views-view-a-1-block .views-field-field-catimage,
#block-views-view-a-1-block .views-field-field-img-view,
#block-views-view-a-2-block .views-field-field-catimage,
#block-views-view-a-2-block .views-field-field-img-view,
#block-views-view-a-3-block .views-field-field-catimage,
#block-views-view-a-3-block .views-field-field-img-view,
#block-views-view-a-4-block .views-field-field-catimage,
#block-views-view-a-4-block .views-field-field-img-view,
#block-views-view-a-5-block .views-field-field-catimage,
#block-views-view-a-5-block .views-field-field-img-view {
  padding-right: 10px;
}

#block-views-view-a-block .views-field-view-node {
  float: right;
  padding-top: 10px;
}

#block-views-view-a-block .views-field-view-node a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: #f2f2f2;
  font-size: 11px;
  line-height: 17px;
  border-radius: 2px;
  padding: 5px 10px;
}
#block-views-view-a-block .views-field-view-node a:hover {
  background: #dc809c;
  color: #fff;
}

/*--------------------4-blocks-in-a-square----------------------*/

#block-views-view-a-1-block td.col-1 {
  padding-right: 8px;
}

#block-views-view-a-1-block td.col-2 {
  padding-left: 7px;
}

#block-views-view-a-3-block td.col-1 {
  padding-right: 8px;
}

#block-views-view-a-3-block td.col-2 {
  padding-left: 7px;
}


/*----------View-B---------0-1-2-3--------------------*/

#block-views-view-b-block .views-row,
#block-views-view-b-1-block .views-row,
#block-views-view-b-2-block .views-row,
#block-views-view-b-3-block .views-row {
  padding-bottom: 10px;
}

#block-views-view-b-block .views-row-last,
#block-views-view-b-1-block .views-row-last,
#block-views-view-b-2-block .views-row-last,
#block-views-view-b-3-block .views-row-last {
  padding-bottom: 0;
}

#block-views-view-b-block .view-content td,
#block-views-view-b-1-block .view-content td,
#block-views-view-b-2-block .view-content td,
#block-views-view-b-3-block .view-content td {
  padding-bottom: 10px;
  vertical-align: top;
}

#block-views-view-b-block .view-content tr.row-last td,
#block-views-view-b-1-block .view-content tr.row-last td,
#block-views-view-b-2-block .view-content tr.row-last td,
#block-views-view-b-3-block .view-content tr.row-last td {
  padding-bottom: 0;
}


#block-views-view-b-block .col-1 .views-field-title,
#block-views-view-b-block .col-2 .views-field-title {
  padding-right: 15px;
}

#block-views-view-b-block td.col-1 {
  width: 33%;
}
#block-views-view-b-block td.col-2 {
  width: 34%;
}

#block-views-view-b-block td.col-3 {
  width: 33%;
}

#block-views-view-b-1-block .col-1 .views-field-title,
#block-views-view-b-1-block .col-2 .views-field-title {
  padding-right: 15px;
}

#block-views-view-b-1-block td.col-1 {
  width: 33%;
}
#block-views-view-b-1-block td.col-2 {
  width: 34%;
}

#block-views-view-b-1-block td.col-3 {
  width: 33%;
}

#block-views-view-b-2-block .col-1 .views-field-title {
  padding-right: 15px;
}

#block-views-view-b-2-block td.col-1 {
  width: 50%;
}
#block-views-view-b-3-block td.col-2 {
  width: 50%;
}

#block-views-view-b-block .views-field-field-img-view,
#block-views-view-b-1-block .views-field-field-img-view,
#block-views-view-b-2-block .views-field-field-img-view,
#block-views-view-b-3-block .views-field-field-img-view {
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;
}

#block-views-view-b-block .views-field-title,
#block-views-view-b-1-block .views-field-title,
#block-views-view-b-2-block .views-field-title,
#block-views-view-b-3-block .views-field-title {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  position: relative;
}

#block-views-view-b-*-block .views-field-title {
  font-size: 12px;
  line-height: 15px;
}

#block-views-view-b-block .views-field-title {
  height: 60px;
}

#block-views-view-b-1-block .views-field-title {
  height: 60px;
}

#block-views-view-b-2-block .views-field-title {
  height: 55px;
  font-size: 12px;
  line-height: 15px;
}


/*------------View-C---------0-1-2-3---------------*/

#block-views-view-c-block .views-row,
#block-views-view-c-1-block .views-row,
#block-views-view-c-2-block .views-row,
#block-views-view-c-3-block .views-row {
  padding-bottom: 10px;
  overflow: hidden;
}

#block-views-view-c-block .views-row-last,
#block-views-view-c-1-block .views-row-last,
#block-views-view-c-2-block .views-row-last,
#block-views-view-c-3-block .views-row-last {
  padding-bottom: 0;
}

#block-views-view-c-block .view-content td,
#block-views-view-c-1-block .view-content td,
#block-views-view-c-2-block .view-content td,
#block-views-view-c-3-block .view-content td {
  padding-bottom: 10px;
  vertical-align: top;
}

#block-views-view-c-block .view-content tr.row-last td,
#block-views-view-c-1-block .view-content tr.row-last td,
#block-views-view-c-2-block .view-content tr.row-last td,
#block-views-view-c-3-block .view-content tr.row-last td {
  padding-bottom: 0;
}

#block-views-view-c-block .view-content td {
  padding-right: 10px;
}

#block-views-view-c-block td.col-last {
  padding-right: 0;
}

#block-views-view-c-1-block .view-content td {
  padding-right: 10px;
}

#block-views-view-c-1-block td.col-last {
  padding-right: 0;
}

#block-views-view-c-block .views-field-title,
#block-views-view-c-1-block .views-field-title,
#block-views-view-c-2-block .views-field-title,
#block-views-view-c-3-block .views-field-title {
  text-align: center;
  padding-top: 7px;
}

#block-views-view-c-1-block .views-field-title {
  font-size: 12px;
  line-height: 15px;
}

#block-views-view-c-block .views-field-field-img-view,
#block-views-view-c-1-block .views-field-field-img-view,
#block-views-view-c-2-block .views-field-field-img-view,
#block-views-view-c-3-block .views-field-field-img-view {
  float: none;
  text-align: center;
}

#block-views-view-c-block .views-field-field-img-view img {
  width: 178px;
  height: 107px;
}

#block-views-view-c-1-block .views-field-field-img-view img {
  width: 115px;
  height: 82px;
}
